# Components
# Allow students to sign up using the student api
STUDENT_SIGNUP=true
# Allow students to pause notifications using the student api
STUDENT_PAUSE=true
# Allow students to resume notifications using the student api
STUDENT_RESUME=true
# Allow students to delete their account using the student api
STUDENT_DELETE=true
# Enable the admin api (/admin)
ADMIN_API=true
# Allow /admin/info/all request
ALLOW_QUERY_ALL=true
# Enable frontend
FRONTEND=true

# Rate limit configuration
# GLOBAL_RATE_LIMIT req every GLOBAL_RATE_LIMIT_MINUTES minutes
GLOBAL_RATE_LIMIT=15
GLOBAL_RATE_LIMIT_MINUTES=15

# Worker configuration
WORKER=true  # Enable worker
WORKER_INTERVAL=3600  # Seconds
MAX_WORKERS=10  # Number of worker threads

# Calendar configuration
BASE_CALENDAR_URL=https://www.fer.unizg.hr/_download/calevent/mycal.ics

# Email configuration
# If using SMTP to send emails, enter the server, port, and credentials
SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_SENDER_EMAIL=
SMTP_PASSWORD=
EMAIL_RATE_LIMIT_PER_SECOND=2
RECIPIENT_DOMAIN=fer.hr

# The password of the postgres database, username is postgres
POSTGRES_USER=postgres
POSTGRES_HOST=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_PASSWORD=

# Key used for generating tokens, make this long and random
JWT_KEY=

# SHA256 digest of API token used for privileged requests
# Generate using `echo -n "your-secret-token" | sha256sum`
NOTIFER_API_TOKEN_HASH=

# Base URL of the API, i.e. https://notifer.example.com
API_PORT=8026  # Do not change
API_URL=
