{% extends "base_email.html" %}

{% block content %}
<p style="text-align: left;">Zatraženo je brisanje računa. 🗑️ Ako želiš opet primati obavijesti, možeš se opet prijaviti linkom na svoj kalendar.</p>

<div style="text-align: left; margin: 20px 0;">
    <a href="{{ base_url }}/delete?token={{ token }}" class="button" style="background-color: #DC3545;">Izbriši račun</a>
</div>

<p style="text-align: left;">Ako gumb ne radi, klikni ovaj link:</p>
<p style="text-align: left;">
    <a href="{{ base_url }}/delete?token={{ token }}">{{ base_url }}/delete?token={{ token }}</a>
</p>
{% endblock %}
