{% extends "base_email.html" %}

{% block content %}
<p style="text-align: left;">You have requested to resume your notifications.</p>

<div style="text-align: left; margin: 20px 0;">
    <a href="{{ base_url }}/resume?token={{ token }}" class="button">Resume Notifications</a>
</div>

<p style="text-align: left;">If the button doesn't work, click or copy this link:</p>
<p style="text-align: left;">
    <a href="{{ base_url }}/resume?token={{ token }}">{{ base_url }}/resume?token={{ token }}</a>
</p>
{% endblock %}
